@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}
.displayContainer{
  max-width: 1200px;
  margin: 30px auto;
  min-height: 300px;
  border: 1px solid slategrey;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.btn-save{
  display: inline-block;
  background: gray;
  color: #fff;
  border: none;
  padding: 10px ;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  display: block;
  width: 100%;
}

.btn {
  display: inline-block;
  background: gray;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.game {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.game.reminder {
  border-left: 5px solid green;
}

.game h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 60%;
  height: 60px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.justTable{
  text-align: center;
  width: 60%;
  border: 1px solid #000;
  border-radius: 8px;
}

.justTableHead{
  width: 100%;
  border: 1px solid #000;
  border-radius: 8px;
  background: gray
}

.justBody{
  font-style: italic;
  color: black;

}

.inputStyler{
  text-align: center;
}

.filtergames{
  width: 75%;
  height:25px;
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 3px 15px;
  font-style: normal;
  font-size: 18px;
  font-weight: normal;
}

